* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 90px;
}


.menu {
    color: rgb(63, 61, 61);
    text-decoration: none;
}

.menu:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.menu img {
    width: 200px;
    height: 50px;
}

.menuLogo {
    display: inline;
}

.headLogo{
    width: 150px;
}

.headerNav{
    justify-content: normal
}

.headerNavMenu{
    margin-left: auto;
}

.logoBig {
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    margin-top: 30px;
}

.logoBig img {
    width: 100%;
}

.shadow {
    border: 0.5px solid grey;
    box-shadow: 0 0 9px 8px rgb(12, 12, 12);
}

.carousMain {
    margin-top: 30px;
}

.zakazBtn {
    background-color: rgb(245, 60, 60);
    border: 1px solid rgb(245, 60, 60);
    border-radius: 10px;
    color: rgb(73, 71, 71);
    text-decoration: none;
    font-size: 17px;
}

.zakazBtn img{
    width: 17px;
    margin-right: 10px;
}

.zakazBtnStrelka{
    width: 300px;
}

.zakazBtn:hover {
    background-color: rgb(245, 60, 60);
}

.burgerMenu {
    display: none;
    border: 2px solid rgb(245, 60, 60);
    border-radius: 5px;
    background-color: rgb(245, 60, 60);
    color: rgb(73, 71, 71);
}

.burgerMenu i {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: rgb(73, 71, 71);
}

.product {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 17px;
}

.photoProdukt {
    width: 100%;
    height: 293px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.active1 {
    color: rgb(245, 60, 60);
}

.nav-item>.active>span {
    color: rgb(245, 60, 60);
}

.prodVid {
    margin-bottom: 30px;
}

.burgerMenu2 {
    display: none;
    border: 2px solid rgb(245, 60, 60);
    border-radius: 5px;
    background-color: rgb(245, 60, 60);
    color: rgb(73, 71, 71);
    text-align: center;
    margin-right: 10px;
}


.prodBtnDiv {
    width: 100%;
    left: 20px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.cardPrice{
    text-align: center;
    margin-top: 15px;
}


.prodBtn {
    width: 140px;
    height: 40px;
    background-color: rgb(245, 60, 60);
    border: 1px solid rgb(245, 60, 60);
    border-radius: 10px;
    color: rgb(73, 71, 71);
}

.cardText {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceNumb {
    color: rgb(245, 60, 60);
}

.cardWidth {
    width: 100%;
    height: 100%;
}

.prodImg {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.prodItemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prodTabl {
    border: 1px solid grey;
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 50px;
}

.prodTabl td:first-child {
    font-weight: bold;
    text-align: right;
    padding: 5px;
    width: 250px;
}

.prodTabl td {
    width: 800px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.colorTxt {
    color: rgb(245, 60, 60);
}


.oNAS {
    margin-top: 15px;
    margin-bottom: 150px;
    font-size: 15px;
    text-align: justify;
}

.fotoProNas {
    top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    float: right;
    width: 400px;
    text-align: center;
}

.proNasText {
    text-align: justify;
}

.garant {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: justify;
}

.garantUL {
    margin-left: 50px;
}

.dostavka {
    margin-top: 15px;
    margin-bottom: 60px;
    font-size: 15px;
}


.dostavkaZagol {
    margin-top: 10px;
}

.kontakt {
    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 15px;
}

.kontZagol {
    color: rgb(245, 60, 60);
    padding-left: 10px;
}

.kontZagol2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.kontZagol3 {
    margin-top: 30px;
}

.kontBtn {
    width: 140px;
    height: 35px;
    background-color: rgb(245, 60, 60);
    border: 1px solid rgb(245, 60, 60);
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(73, 71, 71);
}

.formInp {
    height: 40px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(243, 241, 243);
}

.footTextSize {
    margin-top: 8px;
    font-size: 13px;
    color: black;
    padding-bottom: 15px;
}

.footerColor {
    background-color: rgb(243, 241, 243);
}


.footerSmall1 {
    padding-top: 5px;
    align-items: center;
}

.footerSmall2 {
    padding-top: 5px;
}

.footerSmall {
    display: none;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.footerUl {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.footer i {
    font-size: 15px;
    margin-top: 10px;
}

.feedback {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    padding-top: 15px;
}

.fotofeedback {
    width: 150px;
    padding-left: 20px;
}


.notFoundTtxt {
    color: rgb(245, 60, 60);
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.notFoundTtxt2 {
    font-size: 25px;
}

.fotoNotFound {
    width: 200px;
}

.documDiv{
    margin-top: 10px;
}

.documDiv li:hover{
    color: rgb(245, 60, 60);
    text-decoration: none;
}

.documLink{
    font-size: 16px;
    font-weight: bold;
    color: rgb(65, 61, 61);
    text-decoration: underline;
}

.documLink:hover{
    color: rgb(245, 60, 60);
    text-decoration: none;
    cursor: pointer;
}

.videoDiv{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(65, 61, 61);
    font-size: 17px;
    font-weight: bold;
}

/* @media screen and (max-width: 981px) { */

@media screen and (max-width: 991px) {
    .burgerMenu {
        display: block;
    }

    .menuUl {
        display: none;
    }

    .zakazBtn {
        margin-top: 10px;
        font-size: 14px;
    }

    .menuLogo {
        display: none;
        margin-top: -40px;
    }

    .logoBig {
        margin-top: 10px;
    }

    .carousMain {
        margin-top: 10px;
    }
}

@media screen and (max-width: 884px) {
    .footerUl {
        display: none;
    }

    .footerSmall {
        display: flex;
    }
}

@media screen and (max-width: 775px) {
    .productUL {
        display: none;
    }

    .burgerMenu2 {
        display: block;
    }
}

@media screen and (max-width: 580px) {
    .prodVid {
        margin-left: 15px;
    }
}


@media screen and (max-width: 510px) {
    .fotoProNas {
        padding-left: 5px;
        width: 400px;
    }

    .proNasText {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 451px) {
    .fotoProNas {
        padding-left: 30px;
        width: 350px;
    }

    .proNasText {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 410px) {
    .fotoProNas {
        padding-left: 40px;
        width: 350px;
    }

    .proNasText {
        padding-left: 20px;
        padding-right: 20px;
    }

}